@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Barlow&display=swap');

body {
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: 'Merriweather', serif;
  padding: .5em 0 .2em 0;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

