header {
  margin-bottom: 1em;
}

.container {
  @include outer-container;
}

article {

  @include row;

  ul {
    list-style-type: inherit;
  }

  .article-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .details {
    @include clearfix;
    @include shift(1);
    @include span-columns(8);
  }

  .left-gutter {
    @include span-columns(1);

    display: none;

    @include media ($large-screen) {
      display: inline;
    }
  }

  .share {
    margin-bottom: 1em;
  }
}

.paging {
  @include row();
  @include shift(4);
  @include span-columns(6);

  display: flex;
  justify-content: space-between;
}

.post-summary a {
  color: inherit !important;
}

ul {
  @extend %default-ul;
}
